/.pio/
/.vscode/
src/secrets.h
/.idea/
*.pyc
__pycache__/
.DS_Store
*.swp
*.swo
*.bak
*.tmp
*.log
*.bin
*.elf
*.map
*.hex
*.csv
*.orig
*.out
*.dmp
*.d
*.o
*.a
*.exe
*.user
*.sublime-workspace
*.sublime-project
*.code-workspace
*.env
*.venv
*.pdm.toml
*.mypy_cache/
*.pytest_cache/
*.coverage
*.egg-info/
*.eggs/
*.tox/
*.cache/
*.pylint.d/
*.vscode/
*.platformio/.pio
.vscode/.browse.c_cpp.db*
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/ipch
